.hello:link {
    color: orange;
}

.hello:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 109px;
    color: green;
}

.hello:active {
    font-style: italic;
}

.hello:visited {
    color: red;
}


/*li:first-child a { li:last-child a
    color: green;
}
*/

li:nth-child(even) a {
    /* 1 or 2n or 2n+2 or 2n-2
     * or even or odd
     * */
    color: green;
}

li:nth-child(even) a:hover {
    color: lightblue;
}

p:first-of-type {
    /* last-of-type */
    color: red;
}

p:nth-child(2) {
    color: blue;
}
